#ignorer le fichier cmake-build-debug
cmake-build-debug/

#ignorer le fichier .gitignore
.gitignore/

#ignorer le fichier .git
.git/

#ignorer le fichier .gitattributes
.gitattributes/

#ignorer le .vscode
.vscode/


